<h1>Banks</h1>

<p><a href="/new_bank">Add a New Bank</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @banks.each do |bank| %>
    <tr>
          <td><%= bank.name %></td>
          <td><%= bank.location %></td>
          <td><a href="/banks/<%= bank.id %>">Show</a>
        </td>
      <td><a href="/banks/<%= bank.id %>/edit">Edit</a></td>
      <td><a href="/banks/<%= bank.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

