<h1>Bank #<%= @bank.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @bank.name %></p>
</div>
<div>
  <strong>Location</strong>:<br />
  <p><%= @bank.location %></p>
</div>
<div>Bank's Robberies</div>
<ul>
  <% @bank.events.each do |event| %>
  <li><a href="http://overwhelming-wave-28-131019.usw1.nitrousbox.com/robbers/<%= event.robber.id %>"><%= event.robber.name %></a></li>
  <% end %>
</ul> 
<button><a href="/banks/<%= @bank.id %>/edit">Edit</a></button>
<button><a href="/banks/<%= @bank.id %>/destroy">Destroy</a></button>
