<h1>Robbers</h1>

<p><button><a href="/new_robber">Add a New Robber</a></button></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @robbers.each do |robber| %>
    <tr>
          <td><%= robber.name %></td>
          <td><%= robber.email %></td>
      <td><button><a href="/robbers/<%= robber.id %>">Show</a></button>
        </td>
      <td><button><a href="/robbers/<%= robber.id %>/edit">Edit</a></button></td>
      <td><button><a href="/robbers/<%= robber.id %>/destroy">Destroy</a></button></td>
    </tr>
  <% end %>
  </tbody>
</table>

