<h1>Robber #<%= @robber.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @robber.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @robber.email %></p>
</div>
<div>Robber's Gangs</div>
<ul>
  <% @robber.memberships.each do |membership| %>
  <li><a href="http://overwhelming-wave-28-131019.usw1.nitrousbox.com/gangs/<%= membership.gang.id %>"><%= membership.gang.name %></a></li>
  <% end %>
</ul>  
<div>Robber's Robberies</div>
<ul>
  <% @robber.events.each do |event| %>
  <li><a href="http://overwhelming-wave-28-131019.usw1.nitrousbox.com/banks/<%= event.bank.id %>"><%= event.bank.name %></a></li>
  <% end %>
</ul>  
<button><a href="/robbers/<%= @robber.id %>/edit">Edit</a></button>
<button><a href="/robbers/<%= @robber.id %>/destroy">Destroy</a></button>
