<h1>Gang #<%= @gang.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @gang.name %></p>
</div>
<div>
  <strong>Lord</strong>:<br />
  <p><%= @gang.lord %></p>
</div>
<div>Gang's Robbers</div>
<ul>
  <% @gang.memberships.each do |membership| %>
  <li><a href="http://overwhelming-wave-28-131019.usw1.nitrousbox.com/robbers/<%= membership.robber.id %>"><%= membership.robber.name %></a></li>
  <% end %>
</ul>  
<button><a href="/gangs/<%= @gang.id %>/edit">Edit</a></button>
<button><a href="/gangs/<%= @gang.id %>/destroy">Destroy</a></button>
